___

___

# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(89)

In [2]:
df = pd.DataFrame(randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

NameError: name 'pd' is not defined

In [4]:
randn(5,4)

array([[ 0.78621468, -0.00531721, -0.54656608,  0.55457963],
       [ 0.46951714, -2.09123225,  0.00266137,  0.41835612],
       [-1.15841479, -0.61528822,  0.27965947, -1.57288811],
       [-0.80234706, -1.73179401, -1.78260523,  0.74137057],
       [ 1.74266804, -1.31304313,  0.36979913,  1.37905029]])

In [5]:
df

          W         X         Y         Z
A -1.693730 -0.002121 -0.425892 -0.255590
B -0.305779  0.040550 -0.068354 -1.202224
C -0.182533 -0.879576 -0.243248  0.674031
D  0.344946 -0.625285 -0.206452 -0.871597
E -0.870106  0.398148 -0.665255  0.133677

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [6]:
df['W']

A   -1.693730
B   -0.305779
C   -0.182533
D    0.344946
E   -0.870106
Name: W, dtype: float64

In [7]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -1.693730 -0.255590
B -0.305779 -1.202224
C -0.182533  0.674031
D  0.344946 -0.871597
E -0.870106  0.133677

In [8]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A   -1.693730
B   -0.305779
C   -0.182533
D    0.344946
E   -0.870106
Name: W, dtype: float64

DataFrame Columns are just Series

In [9]:
type(df['W'])

pandas.core.series.Series

In [10]:
type(df['W'].iloc(0)[0])

numpy.float64

In [11]:
df['p']=df['X']+df['W']

In [12]:
df['p']

A   -1.695851
B   -0.265229
C   -1.062109
D   -0.280339
E   -0.471958
Name: p, dtype: float64

In [13]:
df

          W         X         Y         Z         p
A -1.693730 -0.002121 -0.425892 -0.255590 -1.695851
B -0.305779  0.040550 -0.068354 -1.202224 -0.265229
C -0.182533 -0.879576 -0.243248  0.674031 -1.062109
D  0.344946 -0.625285 -0.206452 -0.871597 -0.280339
E -0.870106  0.398148 -0.665255  0.133677 -0.471958

**Creating a new column:**

In [14]:
df['p'] = df['W'] + df['Y']

In [15]:
df

          W         X         Y         Z         p
A -1.693730 -0.002121 -0.425892 -0.255590 -2.119622
B -0.305779  0.040550 -0.068354 -1.202224 -0.374133
C -0.182533 -0.879576 -0.243248  0.674031 -0.425781
D  0.344946 -0.625285 -0.206452 -0.871597  0.138495
E -0.870106  0.398148 -0.665255  0.133677 -1.535361

** Removing Columns**

In [16]:
df.drop('p',axis=1,inplace=True)

In [17]:
# Not inplace unless specified!
df

          W         X         Y         Z
A -1.693730 -0.002121 -0.425892 -0.255590
B -0.305779  0.040550 -0.068354 -1.202224
C -0.182533 -0.879576 -0.243248  0.674031
D  0.344946 -0.625285 -0.206452 -0.871597
E -0.870106  0.398148 -0.665255  0.133677

KeyError: "['new'] not found in axis"

In [19]:
df

          W         X         Y         Z
A -1.693730 -0.002121 -0.425892 -0.255590
B -0.305779  0.040550 -0.068354 -1.202224
C -0.182533 -0.879576 -0.243248  0.674031
D  0.344946 -0.625285 -0.206452 -0.871597
E -0.870106  0.398148 -0.665255  0.133677

Can also drop rows this way:

In [ ]:
df.drop('E',axis=0)

** Selecting Rows**

In [ ]:
df.loc['A']

Or select based off of position instead of label

In [ ]:
df.iloc[2]

** Selecting subset of rows and columns **

In [ ]:
df.loc['B','Y']

In [ ]:
df.loc[['A','B'],['W','Y']]

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [ ]:
df

In [ ]:
df>0

In [24]:
df=df[df>0]

In [26]:
df

          W         X   Y         Z
A       NaN       NaN NaN       NaN
B       NaN  0.040550 NaN       NaN
C       NaN       NaN NaN  0.674031
D  0.344946       NaN NaN       NaN
E       NaN  0.398148 NaN  0.133677

In [30]:
df.fillna(df['W'].mean())

          W         X         Y         Z
A  0.344946  0.344946  0.344946  0.344946
B  0.344946  0.040550  0.344946  0.344946
C  0.344946  0.344946  0.344946  0.674031
D  0.344946  0.344946  0.344946  0.344946
E  0.344946  0.398148  0.344946  0.133677

In [29]:
df.dropna()

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

In [ ]:
df[df['W']>0]

In [ ]:
df[df['W']>0]['Y']

In [ ]:
df[df['W']>0][['Y','X']]

For two conditions you can use | and & with parenthesis:

In [33]:
df[(df['W']>0) | (df['Y']>5)]

          W   X   Y   Z
D  0.344946 NaN NaN NaN

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [ ]:
df

In [ ]:
# Reset to default 0,1...n index
df.reset_index()

In [ ]:
newind = ['CA','NY','WY','OR','CO']

In [ ]:
df['States'] = newind

In [ ]:
df

In [ ]:
df.set_index('States')

In [ ]:
df

In [ ]:
df.set_index('States',inplace=True)

In [ ]:
df

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

In [1]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

NameError: name 'pd' is not defined

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1',1])

In [ ]:
df.xs(1,level='Num')

# Great Job!